@using System.Security.Claims;

@if (User.Identity!.IsAuthenticated)
{
    <ul class="navbar-nav ">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                @User.Identity.Name
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" asp-controller="Member" asp-action="Index">Profil</a></li>

                <li><a class="dropdown-item" asp-controller="Member" asp-action="PasswordChange">Şifre değiştir</a></li>

                <li><a class="dropdown-item" asp-controller="Member" asp-action="UserEdit">Kullanıcı güncelle</a></li>

                <li><a class="dropdown-item" asp-controller="Member" asp-action="Claims">Claims</a></li>

                <li><a class="dropdown-item" asp-route-returnurl="/Home/Index" asp-controller="Auth" asp-action="Logout">Çıkış yap</a></li>


                @if (User.HasClaim(x => x.Type == ClaimTypes.Role && x.Value == "Admin"))
                {
                    <li><a class="dropdown-item" asp-area="admin" asp-controller="Home" asp-action="Index">Admin</a></li>
                }

            </ul>
        </li>
    </ul>
}
else
{
    <a class="btn btn-outline-success mx-1" asp-controller="Auth" asp-action="Login">Login</a>
    <a class="btn btn-outline-success" asp-controller="Auth" asp-action="SignUp">Sign up</a>
}


<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        </div>
    </div>
</nav>
